    /*INICIO CONTACTO*/
    .mb-3{ /*formulario*/
        background-color: #c5ece1;
        text-align: center;
    }
    .btn1{
        color: $colorPrimario;
        background-color: #c5ece1;
        border-color:$colorPrimario;
    }
    .btn2{
        @extend .btn1;
    }
        /*FIN DE CONTACTO*/