   /*INICIO DE MEDIOS DE PAGO*/
   .fondo-mp{
    background: linear-gradient(to top, $colorSecundario, #d5f8ee);
    .img3{ /*imagen en medios de pago*/
        height: 25%;
        width: 25%;
        display: block;
        overflow: hidden;
        margin: 0px auto;
    }
    .medios-de-pago{
        line-height: 2;
        color: $colorTerciario;
        text-align: center;
        font-size: x-large;
    }
}
    /*FIN DE MEDIOS DE PAGO*/