    /*INICIO PRODUCTOS*/
    .carousel{
        background: linear-gradient(to left, #e0f7f0,$colorSecundario, #e6fcf6 );
        .w-100 {
            width: 40%!important;
            margin:auto;
        }
    }
    /*FIN DE PRODUCTOS*/