*{
    margin: 0;
    padding: 0;
}
$colorPrincipal: #5fb49c;
$fontPrincipal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$segundoColor: white;

@import 'index';
@import 'productos';
@import 'preguntas-freccuentes';
@import 'contacto';
@import 'medios-de-pago';


    /*PARA TODAS LAS PAGINAS*/
body {
    font-family: $fontPrincipal;
}
    /*logo*/
.img-logo { 
    display: flex;
    justify-content: center;
    .logo{ 
        height: 200px;
        width: 220px;
        padding: 5px; 
        background-image: none; 
    }
}
    /*nav bar*/
.collapse { 
    justify-content: center;
    background-color: $colorPrincipal;
    .nav-item {
        text-decoration: none;
        font-size: x-large;
        padding: 10px;
        display: inline-block;
        text-align: center;
    }
}
li{
    display: inline-block;
    text-align: center;
    li a {
        text-decoration: none;
        color: $segundoColor;
        font-size: smal;
        padding: 20px;
        display: block;
    }
}
.redes{ /*redes sociales del pie de pagina*/
    right: 0px;
    font-size: 30px;
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    z-index: 100;
    justify-content: right;  
    color: #050706;
    z-index: 100;
    text-decoration: none;
    .bi{ /*pie de pagina*/
        letter-spacing: 5px;
        color: #050706;
        }
}
.titulo{ /*todos los titulos*/
    color: $colorPrincipal;
    text-align: center;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
    .img-logo { /*logo*/
        display: flex;
        justify-content: center;
        .logo{
            height: 100px;
            width: 110px;
            padding: 5px; 
            background-image: none; 
        }
    }
    li a {
        text-decoration: none;
        color: $segundoColor;
        font-size: small;
        padding: 20px;
        display: block;
    }
    /*INDEX*/
    .gallery-container { /*galeria*/
        min-height: 150px;
        margin: 20px;
        margin-bottom: 100px;
    }
    article{ /*texto*/
        font-size: medium;
        text-align: center;
        line-height: 2.3;
    }
    /*MEDIOS DE PAGO*/
    .medios-de-pago{
        line-height: 2;
        color: #050706;
        text-align: center;
        font-size: medium;
    }
}
