* {
  margin: 0;
  padding: 0;
}

/*PARA TODAS LAS PAGINAS*/
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*logo*/
.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-logo .logo {
  height: 200px;
  width: 220px;
  padding: 5px;
  background-image: none;
}

/*nav bar*/
.collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5fb49c;
}

.collapse .nav-item {
  text-decoration: none;
  font-size: x-large;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

li {
  display: inline-block;
  text-align: center;
}

li li a {
  text-decoration: none;
  color: white;
  font-size: small;
  padding: 20px;
  display: block;
}

.redes {
  /*redes sociales del pie de pagina*/
  font-size: 40px;
  z-index: 100;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes .bi {
  color: black;
  letter-spacing: 30px;
}

.titulo {
  /*todos los titulos*/
  color: #5fb49c;
  text-align: center;
}

/*INICIO INDEX*/
.gallery-container {
  /*galeria*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-auto-rows: 350px;
  grid-gap: 8px;
  grid-auto-flow: dense;
  min-height: 100px;
  margin: 20px;
  margin-bottom: 100px;
}

.gallery-container :nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: span 1,5;
  grid-row: span 2;
}

.gallery-container .img-gallery {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}

.gallery-container .item-img-gallery {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

article {
  /*texto*/
  font-size: xx-large;
  text-align: center;
  line-height: 2.3;
}

.animate__backInLeft .animate__backInRight .animate__backInDown {
  /*animacion*/
  --animate-repeat: none;
}

/*FIN DE INDEX*/
/*INICIO PRODUCTOS*/
.carousel {
  background: -webkit-gradient(linear, right top, left top, from(#e0f7f0), color-stop(white), to(#e6fcf6));
  background: linear-gradient(to left, #e0f7f0, white, #e6fcf6);
}

.carousel .w-100 {
  width: 50% !important;
  margin: auto;
}

.accordion-button:focus {
  color: black;
  background-color: white;
}

/*FIN DE PRODUCTOS*/
/*INICIO PREGUNTAS FRECUENTES*/
.preguntas-frecuentes {
  line-height: 2;
  color: black;
  text-align: center;
  font-size: x-large;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#5fb49c, white));
  background: linear-gradient(to bottom, white #5fb49c);
}

.ubicacion {
  height: 50%;
  width: 50%;
  display: block;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 15px 15px 15px 15px;
}

/*FIN PREGUNTAS FRECUENTES*/
/*INICIO CONTACTO*/
.mb-3 {
  /*formulario*/
  background-color: #c5ece1;
  text-align: center;
}

.btn1, .btn2 {
  color: #5fb49c;
  background-color: #c5ece1;
  border-color: #5fb49c;
}

/*FIN DE CONTACTO*/
/*INICIO DE MEDIOS DE PAGO*/
.fondo-mp {
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#d5f8ee));
  background: linear-gradient(to top, white, #d5f8ee);
}

.fondo-mp .img3 {
  /*imagen en medios de pago*/
  height: 25%;
  width: 25%;
  display: block;
  overflow: hidden;
  margin: 0px auto;
}

.fondo-mp .medios-de-pago {
  line-height: 2;
  color: black;
  text-align: center;
  font-size: x-large;
}

/*FIN DE MEDIOS DE PAGO*/
@media screen and (min-width: 200px) and (max-width: 560px) {
  .img-logo {
    /*logo*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-logo .logo {
    height: 100px;
    width: 110px;
    padding: 5px;
    background-image: none;
  }
  li a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 20px;
    display: block;
  }
  /*INDEX*/
  .gallery-container {
    /*galeria*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    grid-auto-rows: 150px;
    grid-gap: 8px;
    grid-auto-flow: dense;
    min-height: 100px;
    margin: 20px;
    margin-bottom: 100px;
  }
  article {
    /*texto*/
    font-size: medium;
    text-align: center;
    line-height: 2.3;
  }
  /*MEDIOS DE PAGO*/
  .medios-de-pago {
    line-height: 2;
    color: black;
    text-align: center;
    font-size: medium;
  }
}
/*# sourceMappingURL=main.css.map */