*{
    margin: 0;
    padding: 0;
}
$fontPrincipal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$colorPrimario:#5fb49c;
$colorSecundario: white;
$colorTerciario: black;

/*PARA TODAS LAS PAGINAS*/
body {
    font-family: $fontPrincipal;
}
    /*logo*/
.img-logo { 
    display: flex;
    justify-content: center;
    .logo{ 
        height: 200px;
        width: 220px;
        padding: 5px; 
        background-image: none; 
    }
}
    /*nav bar*/
.collapse { 
    justify-content: center;
    background-color: $colorPrimario;
    .nav-item {
        text-decoration: none;
        font-size: x-large;
        padding: 10px;
        display: inline-block;
        text-align: center;
    }
}
li{
    display: inline-block;
    text-align: center;
    li a {
        text-decoration: none;
        color: $colorSecundario;
        font-size: small;
        padding: 20px;
        display: block;
    }
}
$estilos:( /*map*/
    color: $colorTerciario,
    espacio:30px,
);
.redes{ /*redes sociales del pie de pagina*/
    font-size: 40px;
    z-index: 100; 
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: center;
    .bi{
        color: map-get($estilos , color );
        letter-spacing: map-get($estilos , espacio );
    }
}
.titulo{ /*todos los titulos*/
    color: $colorPrimario;
    text-align: center;
}
@import 'index';
@import 'productos';
@import 'preguntas-frecuentes';
@import 'contacto';
@import 'medios-de-pago';
@media screen and (min-width: 200px) and (max-width: 560px) {
    .img-logo { /*logo*/
        display: flex;
        justify-content: center;
        .logo{
            height: 100px;
            width: 110px;
            padding: 5px; 
            background-image: none; 
        }
    }
    li a {
        text-decoration: none;
        color: $colorSecundario;
        font-size: small;
        padding: 20px;
        display: block;
    }
    /*INDEX*/
    .gallery-container { /*galeria*/
        min-height: 150px;
        margin: 20px;
        margin-bottom: 100px;
    }
    article{ /*texto*/
        font-size: medium;
        text-align: center;
        line-height: 2.3;
    }
    /*MEDIOS DE PAGO*/
    .medios-de-pago{
        line-height: 2;
        color: $colorTerciario;
        text-align: center;
        font-size: medium;
    }
}
