*{
    margin: 0;
    padding: 0;
}
    /*PARA TODAS LAS PAGINAS*/
    body{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .logo{ /*tamaño del logo*/
        height: 200px;
        width: 220px;
        padding: 5px; 
        background-image: none; 
    }
    .img-logo { /*posicion del logo*/
        display: flex;
        justify-content: center;
    }
    .collapse { /*nav bar*/
        justify-content: center;
        background-color: #5fb49c;
    }

    .nav-item {
        text-decoration: none;
        font-size: x-large;
        padding: 10px;
        display: block;
    }
    .nav-item{
        display: inline-block;
        text-align: center;
    }

    li a {
        text-decoration: none;
        color: rgb(250, 248, 248);
        font-size: smal;
        padding: 20px;
        display: block;
    }
    li{
        display: inline-block;
        text-align: center;
    }
    .bi{ /*pie de pagina*/
        letter-spacing: 5px;
        color: #050706;
    }
    .redes{ /*redes sociales del pie de pagina*/
        right: 0px;
        font-size: 30px;
        display:flex;
        flex-direction:row;
        align-items: flex-end;
        z-index: 100;
        justify-content: right;  
        color: #050706;
        z-index: 100;
        text-decoration: none;
    }
    .titulo{ /*todos los titulos*/
        color: #5fb49c;
        text-align: center;
    }

    /*INICIO INDEX*/
    /*galeria inicio*/
    .gallery-container { 
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 350px;
        grid-gap: 8px;
        grid-auto-flow: dense;
        min-height: 100px;
        margin: 20px;
        margin-bottom: 100px;
    }
    .img-gallery{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: white;
    }
    .item-img-gallery{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .item-img-gallery img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .gallery-container :nth-child(2){
        grid-column: span 1,5;
        grid-row: span 2;
    }
    /*fin de la galeria de inicio*/
    article{ /*texto inicio*/
        font-size: xx-large;
        text-align: center;
        line-height: 2.3;
    }
    .animate__backInLeft .animate__backInRight .animate__backInDown{
        --animate-repeat: none;   
    }
    /*FIN DE INDEX*/

    /*INICIO PRODUCTOS*/
    .w-100 {
        width: 40%!important;
        margin:auto;
    }
    .carousel{
        background: linear-gradient(to left, #e0f7f0,white, #e6fcf6 );
    }
    /*FIN DE PRODUCTOS*/

    /*INICIO PREGUNTAS FRECUENTES*/
    .preguntas-frecuentes{
        line-height: 2;
        color: #050706;
        text-align: center;
        font-size: x-large;
        background: linear-gradient(to bottom, white, #5fb49c);
    }
    .ubicacion{
        height: 50%;
        width: 50%;
        display: block;
        overflow: hidden;
        margin: 0px auto;
        border-radius: 15px 15px 15px 15px;
    }
    /*FIN PREGUNTAS FRECUENTES*/

    /*INICIO CONTACTO*/
    .mb-3{ /*formulario*/
        background-color: #c5ece1;
        text-align: center;
    }
    .btn{
        color: #5fb49c;
        background-color: #c5ece1;
        border-color:#5fb49c;
    }
    /*FIN DE CONTACTO*/
    
    /*INICIO DE MEDIOS DE PAGO*/
    .fondo-mp{
        background: linear-gradient(to top, white, #d5f8ee);
    }
    .img3{ /*imagen en medios de pago*/
        height: 25%;
        width: 25%;
        display: block;
        overflow: hidden;
        margin: 0px auto;
    }
    .medios-de-pago{
        line-height: 2;
        color: #050706;
        text-align: center;
        font-size: x-large;
    }
    
    /*FIN DE MEDIOS DE PAGO*/

@media screen and (min-width: 200px) and (max-width: 560px) {

    .logo{ /*tamaño del logo*/
        height: 100px;
        width: 110px;
        padding: 5px; 
        background-image: none; 
    }
    .img-logo { /*posicion del logo*/
        display: flex;
        justify-content: center;
    }
    li a {
        text-decoration: none;
        color: rgb(250, 248, 248);
        font-size: smal;
        padding: 20px;
        display: block;
    }
    .titulo{ /*todos los titulos*/
        color: #5fb49c;
        text-align: center;
    }
    /*INICIO INDEX*/
    /*galeria inicio*/
    .gallery-container { 
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-auto-rows: 150px;
        grid-gap: 8px;
        grid-auto-flow: dense;
        min-height: 100px;
        margin: 20px;
        margin-bottom: 100px;
    }
    /*fin de la galeria de inicio*/
    article{ /*texto inicio*/
        font-size: medium;
        text-align: center;
        line-height: 2.3;
    }
    /*FIN DEL INDEX*/
    /*INICIO DE MEDIOS DE PAGO*/
    .medios-de-pago{
        line-height: 2;
        color: #050706;
        text-align: center;
        font-size: medium;
    }
    /*FIN DE MEDIOS DE PAGO*/
}
